
$white-color:white;
$bg-color:#fd5d14;
$title-color:#002155;
$black-color:black;
$text-color:#555555;

@mixin title($size, $weight){
  font-size:$size;
  font-weight:$weight;
}

.Team_sec{
    padding:80px 0;
    width:100%;
    background:$white-color;
    overflow: hidden;
    .Team-title{
        width: 100%;
        text-align: center;
        margin-bottom: 50px;
        h6{
            @include title(16px ,500 );
            color:$bg-color;
            margin-bottom:7px;
            font-family: "Poppins", sans-serif;
        }
        h2{
            @include title(50px ,700 );
            color:$title-color;
            margin:0;
            font-family: "Poppins", sans-serif;
            span{
                color:$bg-color;
            }
        }
    }
    .team-card-main{
        position: relative;
        overflow: hidden;
        .team-img{
            position: relative;
            overflow: hidden;
            &::before{
                position:absolute;
                content: "";
                width:100%;
                height:240px;
                bottom: -250px;
                right: -250px;
                background-image: url(../Images/team-bg.png);
                background-position: center;
                background-repeat: no-repeat;
                z-index: 1;
                transition: all 600ms ease;
                opacity:0.9;
            }
            img{
                width:100%;
                height: 420px;
                position: relative;
                overflow: hidden;
            }
            .circular-menu {
                position: absolute;
                right: -50px;
                bottom: -50px;
                z-index: 99;
                transition: all 300ms ease;
                &::before {
                    content: "";
                    position: absolute;
                    right: -20px; /* Extend hover area */
                    bottom: -20px; /* Extend hover area */
                    width: 140px;  /* Make hover area bigger */
                    height: 140px; /* Make hover area bigger */
                    background: transparent;
                    z-index: 1;
                    pointer-events: auto;
                }
                .items-wrapper{ 
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    pointer-events: none;
                   a{
                    position: absolute;
                    right: 0;
                    bottom: 0;
                    z-index: -1;
                    display: block;
                    transition: all 400ms ease-in-out;
                    opacity: 0;
                    pointer-events: auto;
                    i{
                        position: relative;
                        color:$white-color;
                        font-size: 18px;
                        border-radius: 50%;
                        text-align: center;
                        padding:10px 13px;
                        background-color: #072758;
                        transition: all 300ms ease;
                        &:hover{
                            background-color: $white-color;
                            color:$title-color;
                        }
                    }
                   }
                }
                .floating-btn{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    z-index: 20;
                    width: 50px;
                    height: 50px;
                    border-radius: 0%;
                    background-color: #072758;
                    color: #ffffff;
                    text-align: center;
                    cursor: pointer;
                    outline: 0;
                    font-size: 35px;
                    transition: all 300ms ease;
                    a{
                        text-decoration: none;
                        i{
                            color:white;
                        }
                    }
                }
                &:hover,
                &:hover::before{
                    .items-wrapper {
                        pointer-events: auto;
                    }
            
                    .items-wrapper a {
                        opacity: 1;
                        z-index: 1;
                        transition: all 400ms ease-in-out;
                        transition-delay: 100ms; 
                    }
                    .items-wrapper a:nth-child(1) {
                        transform: translate3d(1em, -7em, 0);
                    }
            
                    .items-wrapper a:nth-child(2) {
                        transform: translate3d(-3.5em, -6.3em, 0);
                    }
            
                    .items-wrapper a:nth-child(3) {
                        transform: translate3d(-6.5em, -3.2em, 0);
                    }
            
                    .items-wrapper a:nth-child(4) {
                        transform: translate3d(-7em, 1em, 0);
                    }
                }
                
            }
            &:hover::before{
                bottom:0;
                right: 0;
            }
            &:hover .circular-menu{
                opacity: 1;
                right: 40px;
                bottom: 40px;
            }
        }
        .team-text {
            text-align: center;
            padding: 20px;
            background:$title-color;
            position: relative;
            z-index: 1;
            h4{
                @include title(20px ,700 );
                color:$white-color;
                margin-bottom:6px;
                letter-spacing: 1px;
                font-family: "Poppins", sans-serif;
            }
            p{
                @include title(16px ,400 );
                color:$white-color;
                margin-bottom:0px;
                font-family: "Poppins", sans-serif;
            }
            &::before{
                position: absolute;
                content: "";
                width: 100%;
                height: 4%;
                bottom: 0;
                left: 0;
                background-color:$bg-color;
                z-index: -1;
                transition: all 0.8s ease;
            }
            &:hover::before{
                height:100%;
            }
        }
    }
}


// responsive

@media (min-width:320px) and (max-width:576px) {
    
    .Team_sec{
        .Team-title{
            h2{
                @include title(30px ,700 );
            }
        }
        .team-card2{
            margin:30px 0;
        }
    }

}


@media (min-width:577px) and (max-width:768px) {
    
    .Team_sec{
        .team-card2{
            margin:30px 0;
        }
    }

}


@media (min-width:769px) and (max-width:992px) {
    
    .Team_sec{
        .team-card3{
            margin-top:30px;
        }
    }

}
