
$white-color:white;
$bg-color:#fd5d14;
$title-color:#002155;
$black-color:black;
$text-color:#555555;

@mixin title($size, $weight){
  font-size:$size;
  font-weight:$weight;
}

.Video_sec{
    padding:250px 0;
    width:100%;
    background: url(../Images/video-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    z-index:1;
    &::after{
        position: absolute;
        content: "";
        width:100%;
        height:100%;
        top:0;
        left: 0;
        background:linear-gradient(120deg , $title-color , $title-color , $bg-color);
        z-index: -1;
        opacity:0.9;
        filter:blur(1px);
    }
    .video-title{
        width: 100%;
        text-align: center;
        a{
            text-decoration: none;
            position: relative;
            z-index: 1;
            &::before {
                content: "";
                position: absolute;
                z-index: 0;
                left: 50%;
                top: 3%;
                display: block;
                width: 100px;
                height: 100px;
                background:$bg-color;
                border-radius: 50%;
                animation: ripple 1500ms ease-out infinite;
                z-index: -1;
                @keyframes ripple {
                    0% {
                        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1);
                        opacity: 1;
                    }
                    100% {
                        transform: translateX(-50%) translateY(-50%) translateZ(0) scale(1.5);
                        opacity: 0;
                    }
                }
            }
            
            i{
                background:$white-color;
                padding: 23px 30px;
                border-radius: 50px;
                font-size: 40px;
                color:$bg-color;
            }
        }
    }
}

.modal-content {
    background: $black-color !important;
    .modal-header {
        justify-content: right;
        .video-btn{
            color: white !important;
        }
    }
}

